{% extends 'base.html.twig' %}

{% block body_id 'homepage' %}

{% block main %}
    <div class="jumbotron">
        <div class="" style="min-height: 200px">
            results
        </div>
    </div>
{% endblock %}
