{% extends 'base.html.twig' %}

{% block body_id 'homepage' %}

{% block main %}
    <div class="jumbotron">
        <div class="results" style="min-height: 200px">
            <h2>Results</h2>
        </div>
    </div>
{% endblock %}
